@layer components {
  .monogram {
    transition: filter var(--durationM) ease;
  }

  :is(a:hover, a:focus) .monogram {
    filter: brightness(0) saturate(100%) invert(62%) sepia(93%) saturate(456%) hue-rotate(161deg) brightness(96%) contrast(91%);
  }
}
